@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Regular.woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Bold.woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Italic.woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    }
    