.footer {
    background-color: rgb(192, 199, 207);
}
.footer__title {
    color: rgb(0, 0, 0)
}

.footer__list {
    color: black;
    padding: 0;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;   
} 
.footer__part {
    margin-left: 50px;
    margin-right: 50px;
    width: 20%;
    min-height: 250px;
}
.footer__item-link {
    display: block;
    color: black;
    text-decoration: none; 
    transition: transform 0.2s;
    transform-origin: left;
}
.footer__item-link:hover {
    transform: scale(1.2);
    font-weight: bold;
    cursor: pointer;
}
.footer__item-link:focus {
    outline: none;
    cursor: pointer;
    font-weight: bolder;

}
.footer__item-link:active {
    font-weight: bolder;

}
.footer__item {
    list-style-type: none;
}

