.model__title {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 0;  
    font-size: xx-large; 
}
.popular__models {
    display: flex;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 1px; 
    font-size: 40px; 
    font-style: bold;
    color:rgb(0, 0, 0);
}
.section_popular {
    display: flex;
    justify-content: space-between;
}
.slider {
    display: flex;
}
.sliderLeft {
    width: 50px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border: none;
    margin-left: 20px;
    margin-top: 250px;
}
.sliderRight {
    width: 50px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border: none;
    margin-right: 20px;
    margin-top: 250px;
}
.slider__image {
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
}
.slider__image:hover {
    background-color: rgb(133, 174, 212);
    cursor: pointer;
    transition: 0.2s;
}
.slider__image:focus {
    outline: none;
    cursor: pointer;
    background-color: rgb(88, 101, 154);
    border-color: rgb(88, 101, 154);
}
.slider__image:active {
    background-color: rgb(88, 101, 154);
}
.popular__list {
    gap: 10px;
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px; 
    align-items: center;
    position: relative;   
  }
.slider__wrap {
    width: 1350px;
    overflow: hidden;
}

.popular__cars { 
    background-color: rgb(214, 214, 214);
    color: black;  
    border-radius: 5px; 
    border-style: solid; 
    border-width: 1px; 
    border-color:white;
    height: 500px;
    width: 500px;
    flex-shrink: 0;
    list-style-type: none;  
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    margin-top: 20px;
}
.car__wrapper {
    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    position: relative;
}
.popular__cars__img {
    width: 400px;
    height: 300x;
    display: block;
    border-radius: 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.popular__model__link {
    background-color: rgb(176, 196, 222);
    border-color: rgb(176, 196, 222);
    border-radius: 10px;
    width: 200px;
    height: 30px;
    color: black;
    display: block;
    position: center;
    bottom: 15px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.popular__model__link:hover {
    background-color: rgb(146, 175, 212);
    border-color: rgb(146, 175, 212);
    cursor: pointer;
    transition: 0.2s;
}
.popular__model__link:focus {
    outline: none;
    cursor: pointer;
    background-color: rgb(146, 175, 212);
    border-color: rgb(146, 175, 212);
}
.popular__model__link:active {
    background-color: rgb(146, 175, 212);
    border-color: rgb(146, 175, 212);
}
.model__list {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;  
    padding-left: 0; 
    flex-wrap: wrap;
}
.model__list-item{
    width: 350px;
    padding: 15px;
    background-color: rgb(192, 199, 207);
    color: rgb(0, 0, 0);
    box-shadow: 1px 2px 20px 5px #d7d7d7;
   }
.model__car{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.model__price{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
} 
.model__list-item{
    margin-top: 0;
    margin-bottom: 15px;
}
.model__link{
    display: block;
    padding: 10px;
    background-color: rgb(109, 131, 149);
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
} 
.model__list{
    margin: 0;
    padding: 20px 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    list-style-type: none;
}

.model__price{
    margin: 0;
    padding: 20px 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    list-style-type: none;
}

.model__car{
    display: flex;
    flex-direction: column;
}
.model__car{
    margin-top: auto;
}

.model__price{
    display: flex;
    flex-direction: column;
}
.model__price{
    margin-top: auto;
}

.model__img{
    width: 100%;
    height: 400;
    object-fit: cover;
}
.about{
    display: flex;
    gap: 10px;
   }
.about__wrap-right{
    width: 500px;
    flex-shrink: 0;
   }
.model__link {
    background-color: rgba(176, 196, 222, 0.613);
    border-color: rgb(176, 196, 222);
    border-radius: 10px;
    width: 200px;
    color: black;
    display: block;
    position: center;
    bottom: 15px; 
    margin-left: auto;
    margin-right: auto;
}
.model__link:hover {
    background-color: rgb(146, 175, 212);
    border-color: rgb(146, 175, 212);
    cursor: pointer;
    transition: 0.2s;
}
.model__link:focus {
    outline: none;
    cursor: pointer;
    background-color: rgb(146, 175, 212);
    border-color: rgb(146, 175, 212);
}
.model__link:active {
    background-color: rgb(146, 175, 212);
    border-color: rgb(146, 175, 212);
}

.form {
    flex-direction: column;
    display: flex;
    background-color: rgb(190, 211, 239);
    width: 400px;
    height: 330px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.form__title {
    align-self: center; 
    margin-bottom: 10px;
}
.form__item {
    display: flex;
    justify-content: space-between;
}
.form__button {
    background-color: rgb(143, 150, 184);
    border-color: rgb(143, 150, 184);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}
.form__separator {
    margin-left: auto;
    margin-right: auto;
}
.form__link {
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: rgb(17, 30, 108);
}